{
  "parser": "babel-eslint",
  "extends": "google",
  "plugins": [],
  "env": {
    "node": true
  },
  "parserOptions": {
  },
  "rules": {
    "no-alert":[0],
    "brace-style": [0],
    "camelcase": [0],
    "comma-dangle": [0, "never"],
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [2, "first"],

    "consistent-return": [0],
    "curly": [2, "multi-line"],
    "keyword-spacing": [1, {"before": true, "after": true, "overrides": {}}],
    "valid-jsdoc": [1, {
      "requireReturnType": false,
      "requireReturnDescription": false
    }],
    "quotes": [1, "single", "avoid-escape"],
    "new-cap": [0],
    "one-var": [0, "always"],
    "no-console":[2],
    "no-undef":[1], //Because of react work around
    "no-underscore-dangle":[0],
    "no-multi-spaces": [0],
    "no-shadow": [0],
    "no-unused-vars": [1],
    "no-use-before-define": [2, "nofunc"],
    "space-before-blocks":[1, "never"]
  }
}